.rent-history {
  margin: 20px -18px;

  .house-image {
    max-height: 100%;
    display: table-cell;
    vertical-align: middle;
    max-width: 30%;
    padding: 0;
    text-align: center;

    .image {
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;
    }
  }
}